{# 
cpt_1: internal cpt without inversing
cpt_2: internal cpt with inversing
cpt_3: predefined cpt
 #}
CPT={{tmpdir+"/used_cpt.cpt"}}
meca_file={{tmpdir+"/meca.txt"}}
{% if cpt_1 %}
gmt makecpt -C{{cpt_color}} -T{{cpt_min}}/{{cpt_max}}/{{cpt_step}} -Iz > {{tmpdir+"/used_cpt.cpt"}}
{% elif cpt_2 %}
gmt makecpt -C{{cpt_color}} -T{{cpt_min}}/{{cpt_max}}/{{cpt_step}} > {{tmpdir+"/used_cpt.cpt"}}
{% elif cpt_3 %}
{# we suppose in python code, cpt_file has already been moved to  tmpdir+"/used_cpt.cpt" #}
{% endif %}

gmt begin {{output_path}} pdf
    gmt set FONT_ANNOT_PRIMARY 6p FORMAT_GEO_MAP ddd:mm
    gmt set MAP_FRAME_WIDTH 2p MAP_GRID_PEN_PRIMARY 0.25p,gray,2_2:1
    gmt set FONT_LABEL 6p,20 MAP_LABEL_OFFSET 4p

    gmt coast -JD{{flag_J|default("125/35/30/40/7.0i",true)}} -R{{flag_R|default("70/180/0/70",true)}} -G244/243/239 -S167/194/223 -Bxafg -Byafg
    gmt meca  -Sd0.2c/0.05c -Z$CPT -M $meca_file -D {{value_min}}/{{value_max}}

    gmt colorbar -C$CPT -DjBR+w3c/0.3c+ml+o3.0c/0.0c -Bx+l{{colorbar_name}} -By+l{{colorbar_unit}} -L -S

    gmt plot -W1p,red << EOF
>
91.3320117152011 9.37366242174489
74.6060844556399 61.1396992149365
>
74.6060844556399 61.1396992149365
174.409435753150 48.6744705245903
>
174.409435753150 48.6744705245903
144.284491292185 2.08633373396527
>
144.284491292185 2.08633373396527
91.3320117152011 9.37366242174489
EOF

gmt end

